<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.saas.ec.mapper.ActivityMapper">
    <resultMap id="BaseResultMap" type="com.saas.ec.entity.ActivityEntity">
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
        <result column="is_active" property="isActive" jdbcType="BIT" />
        <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List">
       id,title,start_time,end_time,is_active,is_deleted,create_time,update_time
    </sql>
    <insert id="saveActivity" parameterType="com.saas.ec.entity.ActivityEntity" >
        INSERT activity (title,start_time,end_time,create_time,
			update_time,is_active,is_deleted)
			VALUES (#{title},#{startTime},#{endTime},now(),now(),1,0)
    </insert>

    <select id="selectActiveActivity" resultMap="BaseResultMap"  parameterType="com.saas.ec.model.ActivityParamVo">
        SELECT
        <include refid="Base_Column_List"></include>
         FROM activity
        WHERE
        is_active = 1
        AND is_deleted = 0
        AND id > #{minId}
        ORDER BY
        id ASC
        LIMIT #{limitNum}
    </select>

    <update id="updateActivity" parameterType="com.saas.ec.model.ActivityParamVo">
        UPDATE activity
        SET is_active = 0,
        update_time = now()
        WHERE
        id IN
        <foreach collection="activityParamVoList" item="item" index="index" open="(" close=")" separator=",">
            #{item.id}
        </foreach>
    </update>
</mapper>
